body {
    background-color: bisque;
}

#container {
    display: grid;

}

#cal_container {

    display: grid;
    place-content: center center;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;

}

.calc_btn {
    width: 60px;
    height: 60px;
    background-color: seashell;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    margin: 2px;
    font-size:1.5em;
}

#display {
    border:solid;
    border-width: 2px;
    border-radius: 6px;
    padding: 5px;
    margin-bottom: 10px;
    width: 200px;
    justify-self:center;
    background-color: beige;
    height: 3em;
    font-size: 1.5em;
}

#cal_btn_backsp {
    grid-area: 1 / 2 / 1 / 4;
    width: auto;
}

#cal_btn_zero {
    grid-area: 5 / 1 / 5 / 3;
    width: auto;
}

#cal_btn_equals {
    grid-area: 5 / 3 / 5 / 5;
    width: auto;
}

#resultsLabel {
    justify-self: center;
    font-size: 1.5em;
}

#displayLabel {
    justify-self: center;
    font-size: 1.5em;
    margin-top: 10px;
}

#results {
    border:solid;
    border-width: 2px;
    border-radius: 6px;
    padding: 5px;
    margin-bottom: 20px;
    width: 200px;
    justify-self:center;
    background-color: beige;
    height: 2.5em;
    text-align: start;
    font-size: 1.5em;
}

#results2 {
    font-size: .75em;
    text-align:end;
}

#results3 {
    font-size: .75em;
    text-align:end;
}